<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <h1 class='site-title'>FriendFace</h1>
        <a href="/">
            <div>
                Home</div>
        </a>
        <a href="/signinPage/">
            <div>
                Log Out</div>
        </a>

    </header>