<%- include('../partials/header',{}) %>

<div class="friendLogo">
<img class="friendFace" src="images/friendface_logo.png">
<img class="handshake" src="images/handshake.png">
</div>
<form class="mainForm" method='get' action='/getname' class='signin-form'>
    <label for='firstName'>First name</label>
    <input type='text' name='firstName' />
    <button type='submit'>Log In</button>
</form>

<%- include('../partials/footer',{}) %>
